* {
    font-family: 'Poppins', sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

input[type=password] {
    -moz-appearance: textfield;
}

.h-line {
    width: 150px;
    margin: 0 auto;
    height: 1.7px;
}